*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primary:#FB2E86;
    --mainFont:"Lato", sans-serif;
}
.btn{
    border: none;
    outline: border;
    color: white;
    padding: 16px 40px;
    border-radius: 2px;
}
.btn-primary{
   background-color: var(--primary);
}
.btn-success{
    background-color: #08D15F;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: calc(100% - 320px);
    margin: auto;
}
.text-white{
    color: #fff;
}
