body{
    font-family: var(--mainFont);
    
}
/*start header*/
.header{
    
    padding-top: 57px;
    padding-bottom: 35px;
    
}
.header .bar{
    display: none;
}
/*list*/
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.list a{
    color: #0D0E43;
}
.header .active{
    color: var(--primary);
}

/*search*/
.search form{
    border: 2px solid #E7E6EF;
    border-radius: 4px;
}
.search input{
    border: none;
    outline: none;
}
.search button{
     border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}
.search img{
    width: 20px;
}
 @media screen and (max-width:1200px) {
    .list,.header .search{
        display: none;
    }
    .header .bar{
        display: block;
    }
}
    @media screen and (max-width:490px) {
    .header .container{
        width: 90%;
    }
    
}
/*end header*/



/*start client*/
.clients{
  padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}
.clients .logo{
    width: calc((100% - 75px) / 6 );
}
.clients img{
    width: 150px;
    height: 150px;
}
@media screen and (max-width:1030px){
    .clients .logo{
        width: calc((100% - 45px) / 4);
    }
}
@media screen and (max-width:900px){
    .clients .logo{
        width: calc((100% - 30px) / 3);
    }
}
@media screen and (max-width:700px){
    .clients .logo{
        width: calc((100% - 15px) / 2);
    }
}
@media screen and (max-width:560px){
    .clients .container{
        width: 100%;
        padding: 0 20px;
    }
}
/*end client*/

/*start footer*/
.footer{
    background-color: #EEEFFB;
    padding: 100px 0 ;
}
.footer a,.address-info{
    color: #8A8FB9;
}
.footer .left-side{
    gap: 35px;
    align-items: flex-start;
}
.footer .left-side form button{
    border: 2px solid white;
    border-radius: 5px;
    
}
.footer .left-side form input{
    padding-left: 20px;
    
}
.footer .left-side form{
    background-color: white;
}
.footer .right-side{
    width: 60%;
}
.footer .right-side .row{
    align-items: flex-start;
}
@media screen and (max-width:1320px) {
   /*
    .footer .right-side .row{
        width: 60%;
    }*/
    .footer .container{
        width: 90%;
    }
}

@media screen and (max-width:1200px) {
   
    .footer .container{
        width: 100%;
        padding: 0 10px;
    }
    
}
@media screen and (max-width:1000px) {
   
    .footer .row{
        flex-direction: column;
        gap: 30px;
    }
    .footer .left-side , .footer .right-side{
        width: 100%;
    }
    .footer .left-side{
        align-items: center;
    }
    .footer .left-side .address-info{
        align-items: center;
        margin-bottom: 20px;
    }
    .footer .right-side .row{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
}
@media screen and (max-width:700px) {
   
   /* .footer .right-side .row{
        flex-direction: column;
        gap: 20px;
    }*/
    .footer .footer-item{
        width: 100%;
        align-items: center;
    }
    .footer .footer-item a{
       
        align-items:flex-start;
    }
    
    
}
/*end footer*/